{% extends "base.html" %}
{% block styles %}
{{super()}}

<link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Quicksand&family=Roboto&family=Roboto+Slab:wght@300;400&family=Zen+Antique&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid success">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title header">SORRY</h5>
                    <p class="card-text">Invalid Username or Password.</p>
                    <a href="{{url_for('main.login')}}" class="btn btn-dark">Retry</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6">
            <img class="success-pic"
                src="https://images.pexels.com/photos/3178818/pexels-photo-3178818.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="">
        </div>
    </div>
   
</div>
{% endblock %}