{% extends "base.html" %}
{% block styles %}
{{super()}}

<link
    href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Quicksand&family=Roboto&family=Roboto+Slab:wght@300;400&family=Zen+Antique&display=swap"
    rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid success">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title header">USER PROFILE</h5>
                    <p class="card-text">Name: {{ name }}</p>
                    <p class="card-text">{{ email }}</p>
                    <a href="{{url_for('main.dashboard')}}" class="btn btn-dark">Home</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6">
            <img class="success-pic" src="https://images.pexels.com/photos/768474/pexels-photo-768474.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="">
        </div>
    </div>

</div>

{% endblock %}